{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/academics.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block nav_items %}
    <li>Cheating</li>
    <li>In High School</li>
    <li>At Harvard</li>
    <li>Athletics</li>
{% endblock %}

{% block content %}
    <div class="intro scroll-row">
        <div id="subhead">Academics and Extracurriculars</div>
        <p>Part III of The Crimson&#39;s survey of the Class of 2017 looks at incoming freshmen&#39;s academic and extracurricular lives&mdash;and how they prioritize the two. The survey of more than 1,300 members of the freshman class sheds light on what these students did in high school and what they plan to do in college. Some of them admitted to cheating, others said they have been concussed, and nearly all of them say they expect to make academics their top priority at Harvard. This and other data on their experiences and plans in the classroom, in clubs, and on the playing field reveals a group defined by both their similarities and their differences.</p>
        <p>Read Part III of The Crimson's four-part series on the freshman survey <a href="http://www.thecrimson.com/article/2013/9/5/freshman-survey-academics-extracurriculars/">here</a>.</p>
    </div>

    <div class="scroll-row">
        <h1>Cheating</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#exam-cheaters-tab" data-toggle="tab">Exams</a>
            </li>
            <li>
                <a href="#paper-cheaters-tab" data-toggle="tab">Papers</a>
            </li>
            <li>
                <a href="#homework-cheaters-tab" data-toggle="tab">Cheating on Homework or Problem Sets</a>
            </li>
            <li>
                <a href="#cheating-school-type-tab" data-toggle="tab">Cheating by School Type</a>
            </li>
            <li>
                <a href="#cheating-recruits-tab" data-toggle="tab">Cheating by Recruit Status</a>
            </li>
            <li>
                <a href="#cheating-gender-tab" data-toggle="tab">Cheating by Gender</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="exam-cheaters-tab" class="active">
                <h2>Cheating on an Exam</h2>
                <div id="exam-cheaters" class="graph"></div>
                <p>Ten percent of respondents admitted to cheating on an exam during high school, the same percent as those who responded to last year’s survey. By comparison, 6 percent of last year’s graduating seniors who responded to The Crimson’s senior survey admitted to cheating on a paper or exam in college.</p>
            </li>
            <li id="paper-cheaters-tab">
                <h2>Cheating on a Paper or Take-Home Assignment</h2>
                <div id="paper-cheaters" class="graph"></div>
                <p>Ten percent of surveyed freshmen reported cheating on a paper in high school, a decrease from last year’s survey. Six percent of last year’s graduating seniors who responded to The Crimson’s senior survey admitted to cheating on a paper or exam in college.</p>
            </li>
            <li id="homework-cheaters-tab">
                <h2>Homework or Problem Sets</h2>
                <div id="homework-cheaters" class="graph"></div>
                <p>Twenty-two percent of respondents admitted to cheating on a problem set or homework assignment in high school, a significant decrease from last year, when 42 percent of surveyed incoming freshmen reported doing so. Fifteen percent of of last year’s graduating seniors who responded to The Crimson’s senior survey admitted to cheating on a problem set or homework assignment during their time in college.</p>
            </li>
            <li id="cheating-school-type-tab">
                <h2>Cheating by Type of High School</h2>
                <div id="cheating-school-type" class="graph"></div>
                <p>Eleven percent of respondents from public schools reported cheating on an exam and on a paper or take-home assignment, compared to 7.6 percent and 9 percent of private school students, respectively. The percentage of this year’s respondents from public school who admitted cheating on a paper or take-home assignment declined by about 9 percentage points from last year.</p>
            </li>
            <li id="cheating-recruits-tab">
                <h2>Cheating by Recruit Status</h2>
                <div id="cheating-recruits" class="graph"></div>
                <p>Last year’s survey showed a 10 percentage point gap between the percentage of recruited athletes who admitted to cheating on a high school exam and non-athletes who admitted to doing so. This year the gap appears to have been almost nonexistent.</p>
            </li>
            <li id="cheating-gender-tab">
                <h2>Cheating by Gender</h2>
                <div id="cheating-gender" class="graph"></div>
                <p>A higher percentage of male respondents admitted to cheating in an academic context than female respondents.</p>
            </li>
        </ul>
    </div>

    <div class="scroll-row">
        <h1>In High School</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#study-habits-past-tab" data-toggle="tab">Study Hours</a>
            </li>
            <li>
                <a href="#pressure-tab" data-toggle="tab">Sources of Pressure</a>
            </li>
            <li>
                <a href="#extracurriculars-tab" data-toggle="tab">Extracurriculars</a>
            </li>
            <li>
                <a href="#athletics-by-income-tab" data-toggle="tab">High School Athletics by Income</a>
            </li>
            <li>
                <a href="#leadership-tab" data-toggle="tab">Leadership</a>
            </li>
            <li>
                <a href="#government-tab" data-toggle="tab">Student Government</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="study-habits-past-tab" class="active">
                <h2>Study Hours</h2>
                <div id="study-habits-past" class="graph"></div>
                <p>A plurality of surveyed freshmen reported studying between 11 and 19 hours in high school. These figures mirrored those of last year’s survey of the incoming Class of 2017. There was a large difference between the study habits of recruited athletes in high school and all freshman respondents, with a plurality of recruits studying 10 or fewer hours a week.</p>
            </li>
            <li id="pressure-tab">
                <h2>Sources of Pressure</h2>
                <div id="pressure" class="graph"></div>
                <p>Like last year’s respondents, the majority of surveyed freshmen this year reported that their greatest source of pressure comes from their own expectations. Students did not appear to feel pressured from their teachers.</p>
            </li>
            <li id="extracurriculars-tab">
                <h2>High School Extracurriculars</h2>
                <div id="extracurriculars" class="graph"></div>
                <p>The five most popular activities were, in descending order, community service, athletics, music clubs/bands, student government, and science clubs/competitions.</p>
            </li>
            <li id="athletics-by-income-tab">
                <h2>Participation in High School Athletics by Income</h2>
                <div id="athletics-by-income" class="graph"></div>
                <p>Athletics was the only high school extracurricular activity in which respondents’ participation varied reliable by reported combined family income. The higher their family income bracket, the more likely respondents were to report participating in athletics in high school.</p>
            </li>
            <li id="leadership-tab">
                <h2>High School Extracurricular Leadership</h2>
                <div id="leadership" class="graph"></div>
                <p>The number of high school leadership positions held by respondents varied little by reported legacy status, gender, income level, or school type. The majority of respondents reported holding between one and three leadership positions in high school.</p>
            </li>
            <li id="government-tab">
                <h2>Belief in Power of Student Government</h2>
                <div id="government" class="graph"></div>
                <p>Respondents who participated in student government were more confident in student government than non-participants.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_ATF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_300x250'); });
        </script>
    </div>

    <div class="scroll-row">
        <h1>At Harvard</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#study-habits-future-tab" data-toggle="tab">Study Hours</a>
            </li>
            <li>
                <a href="#priorities-raw-tab" data-toggle="tab">Priorities</a>
            </li>
            <li>
                <a href="#concentration-raw-tab" data-toggle="tab">Concentrations</a>
            </li>
            <li>
                <a href="#concentration-gender-tab" data-toggle="tab">Concentrations by Gender</a>
            </li>
            <li>
                <a href="#secondary-tab" data-toggle="tab">Secondary/Citation</a>
            </li>
            <li>
                <a href="#greek-tab" data-toggle="tab">Greek Life</a>
            </li>
            <li>
                <a href="#greek-school-tab" data-toggle="tab">Greek Life by School Type</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="study-habits-future-tab" class="active">
                <h2>Anticipated College Study Hours</h2>
                <div id="study-habits-future" class="graph"></div>
                <p>A plurality of respondents reported that they expect to study between 20 and 29 hours a week at Harvard. Just 6 percent said they expect to study 50 or more hours a week.</p>
            </li>
            <li id="priorities-raw-tab">
                <h2>Anticipated College Priorities</h2>
                <div id="priorities-raw" class="graph"></div>
                <p>This year&rsquo;s respondents&rsquo; priorities differ little from those of their surveyed sophomore counterparts last fall. The vast majority of this year&rsquo;s respondents ranked academics as their number one priority while at college, while only .4 percent of respondents ranked term-time employment as their top priority. Forty-three percent of respondents ranked extracurricular activities as their second highest priority at Harvard.</p>
            </li>
            <li id="secondary-tab">
                <h2>Anticipated Secondaries and Language Citations</h2>
                <div id="secondary" class="graph"></div>
                <p>Interest in fulfilling secondary fields and language citations remained largely the same in this year&rsquo;s survey, with 40 percent of respondents reporting they intend to pursue a secondary and 12 percent reporting they intend to pursue a language citation.</p>
            </li>
            <li id="concentration-raw-tab">
                <h2>Anticipated Concentrations</h2>
                <div id="concentration-raw" class="graph"></div>
                <p>Like last year&rsquo;s respondents, a plurality of this year&rsquo;s surveyed freshmen report that they are planning to concentrate in the social sciences. </p>
            </li>
            <li id="concentration-gender-tab">
                <h2>Anticipated Concentrations by Gender</h2>
                <div id="concentration-gender" class="graph"></div>
                <p>Gender disparities in concentration choice are very much in the national discourse, and the issue presents itself at Harvard as well. Female members of the Class of 2018 were more interested in concentrating in arts and humanities, social sciences, and life sciences than their male counterparts, while males were more interested in other sciences and engineering.</p>
            </li>
            <li id="greek-tab">
                <h2>Frats, Sororities, and Final Clubs</h2>
                <div id="greek" class="graph"></div>
                <p>Slightly less than half of respondents said that they were somewhat or very interested in joining a fraternity, sorority, or final club.</p>
            </li>
            <li id="greek-school-tab">
                <h2>Frats, Sororities, and Final Clubs by School Type</h2>
                <div id="greek-school" class="graph"></div>
                <p>Respondents from public schools were overall less interested than those from private schools in joining fraternities, sororities, or final clubs during their time at Harvard.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_300x250'); });
        </script>
    </div>

    <div class="scroll-row">
        <h1>Athletics</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#athletes-raw-tab" data-toggle="tab">Numbers</a>
            </li>
            <li>
                <a href="#attrition-athletics-tab" data-toggle="tab">Attrition</a>
            </li>
            <li>
                <a href="#concussions-tab" data-toggle="tab">Concussions Numbers</a>
            </li>
            <li>
                <a href="#concussions-view-tab" data-toggle="tab">Attitudes Regarding Concussions</a>
            </li>
            <li>
                <a href="#athletes-economics-conc-tab" data-toggle="tab">Preferences for Economics by Athletics</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="athletes-raw-tab" class="active">
                <h2>Athletes at Harvard</h2>
                <div id="athletes-raw"></div>
                <p>Nearly 20 percent of those surveyed in the Class of 2018 intend to play varsity sports at Harvard. In addition to the 11 percent of respondents who said they were recruited athletes, 9 percent plan to walk on to a varsity team. Harvard does not offer athletic scholarships to recruited athletes or give out merit scholarships of any kind.</p>
            </li>
            <li id="attrition-athletics-tab">
                <h2>Likelihood of Playing All Four Years</h2>
                <div id="attrition-athletics" class="graph"></div>
                <p>Ninety-three percent of respondents who were recruited athletes reported that it was likely or very likely that they would play for all four years, compared to only 35.2 percent of walk-ons. The University does not report the rate of varsity athletes who play for all four years.</p>
            </li>
            <li id="concussions-tab">
                <h2>Athletics and Concussions</h2>
                <div id="concussions" class="graph"></div>
                <p>Similarly to last year’s survey, 78.2 percent of surveyed athletes—including recruits and intended walk-ons—have never been concussed.</p>
            </li>
            <li id="concussions-view-tab">
                <h2>Effect of Concussions on Attitude Towards Sport</h2>
                <div id="concussions-view" class="graph"></div>
                <p>23 percent of respondents who reported having been concussed said they changed their attitudes toward concussions because of the incident.</p>
            </li>
            <li id="athletes-economics-conc-tab">
                <h2>Preferences for Economics by Athletics</h2>
                <div id="athletes-economics-conc" class="graph"></div>
                <p>Economics, the most popular prospective concentration among respondents, appears to interest some groups more than others. Recruited athletes were much more likely to report intention to concentrate in the field than non-recruits.</p>
            </li>
        </ul>
    </div>

{% endblock %}
