{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/academics.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block nav_items %}
    <li>Cheating</li>
    <li>In High School</li>
    <li>At Harvard</li>
    <li>Athletics</li>
{% endblock %}
{% block narrative_link %}http://www.thecrimson.com/article/2014/9/4/freshman-survey-academics-extracurriculars/{% endblock %}
{% block paired_text %}See Data{% endblock %}

{% block content %}
    <div id="text">
        <p><strong>UPDATED: September 3, 2014, at 2:00 p.m.</strong></p>
        <p><em>Part II of a five-part series on Harvard’s incoming Class of 2018, based on data collected by The Crimson in an email survey conducted in the month of August. </em><a href="http://www.thecrimson.com/article/2014/9/2/freshman-survey-part-i/"><em>Part I</em></a><em> ran on Tuesday.</em></p>
        <p>Last February, the College <a href="http://news.harvard.edu/gazette/story/2014/02/applications-remain-high/">reported</a> a 38 percent increase in requests for application fee waivers by prospective members of the Class of 2018, suggesting “even more economic diversity for the incoming class than for previous ones.”</p>
        <p>The Harvard Crimson’s survey of the Class of 2018, however, finds indication that the class is no less disproportionately wealthy than last year’s. Seventy-two percent of respondents reported that their annual family income exceeds $80,000. The median American household income is just over $51,000, according to U.S. Census data.</p>
        <p>The survey also reveals several potential reasons for why this imbalance exists. Students whose annual family income exceeds $500,000, for example, on average score higher on their SATs and are more likely to hire private admissions counselors. They are also more likely to have a parent who attended the College and to be admitted early compared to their lower income peers.</p>
        <p>The email survey, conducted by The Harvard Crimson, was sent to all incoming freshman on Aug. 6 and closed on Aug. 28. Of the 1,667 students in the incoming freshman class, 1,172 filled out the survey, representing around 70 percent of the class. The Crimson did not adjust the survey results for any possible selection bias.</p>
        <p><strong>The Thick Envelope</strong></p>
        <p>Reflecting the fact that very few applicants gain admission to the College, most respondents reported exceptional standardized test scores and grade point averages.</p>
        <div class="shortcodes-wrapper shortcodes-wrapper-right shortcodes-wrapper-medium">
            <div class="shortcodes-object">
                <a href="/image/2014/3/27/admissionsletters5/" class="shortcodes-block">
                    <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/03/27/134216_1295261.JPG.797x1200_q95_crop-smart_upscale.jpg" title="Acceptance Letters" alt="Acceptance Letters">
                </a>
                <div class="shortcodes-description">
                    <div class="shortcodes-byline">
                        <a href="/writer/1209073/Shunella_Grace_Lumas/">Shunella Grace Lumas</a>
                    </div>
                </div>
            </div>
        </div>
        <p>Respondents reported taking the SAT on average 2.14 times and scored an average composite score of 2237, a figure consistent with last year’s average and placing the average surveyed College student in the top 1 percent of all SAT test takers, according to CollegeBoard. Around 8 percent of respondents reported a perfect 2400 score on their SAT.</p>
        <p>Surveyed students from Northeastern states tended to perform better on their SATs, with an average score of 2253. On the other hand, students hailing from outside of the United States averaged the lowest test scores based on reported data, obtaining an average of 2197 on their SAT exams.</p>
        <p>Eighty-three percent of respondents said that Harvard was their top choice, and, on average, students applied to 6.7 schools and were accepted to 4.6 . Sixteen percent of surveyed students said they used a private admissions counselor.</p>
        <p>Thirty percent of surveyed female students said that they considered the culture and policies surrounding sexual assault when deciding whether to go to Harvard, while only 8 percent of male respondents said the same.</p>
        <p>The highest number of schools any respondent applied to was 35, and the highest number of acceptances was 30. &nbsp;</p>
        <p>Fifty-six percent of respondents said they were admitted to Harvard early, a nearly six percentage point increase compared to last year’s survey.</p>
        <p>About 74 percent of students who indicated that they are legacy students, meaning they have one or more parents who attended the College, were admitted through early admissions.</p>
        <p>Legacy students on average reported higher test scores than their non-legacy peers. The average SAT for self-reported legacy students was 2296, while the average score for the rest of the survey’s respondents was 2237. The average GPA for legacy students was a 3.9, compared to a 3.93 average GPA for non-legacy respondents.</p>
        <p>Average SAT scores, similar to last year, varied by ethnicity. Asian respondents reported the highest average SAT score of 2305, while black and Hispanic or Latino students reported the two lowest averages, at 2157 and 2201, respectively.</p>
        <p>Based on the survey’s results, white students appear to enjoy key advantages when it comes to the admissions process. Eighty-eight percent of legacy students, for instance, reported their ethnicity as white. About 17 percent of white respondents reported that they hired private admissions counselors, a higher rate than all groups by Asians.</p>
        <p><strong>Money, Power, Admissions</strong></p>
        <p>Following a widely documented trend in college admissions, 67 percent of respondents who said their family makes more than $500,000 annually were accepted through early admissions, compared to just 35 percent of those students who said their family income is lower than $40,000.</p>
        <p>Students whose families make more than $500,000 annually hired private admissions counselors nearly four times as much as those students whose families earn less than $40,000. Additionally, this year, 32 percent of those students in the highest income bracket hired private counselors, compared to 22.6 percent last year. &nbsp;Students whose families make less than $40,000 per year attained, on average, SAT scores 80 points lower than those whose family income exceeded $500,000 per year.</p>
        <p>Dean of Admissions and Financial Aid William R. Fitzsimmons ’67 said in an interview last October that part of the reason that an income gap exists in early admissions is that students from less privileged economic backgrounds generally do not have access to the same resources in the college admissions process as their more wealthy peers.</p>
        <p>“What tends to happen with people of modest economic backgrounds is they tend to disproportionately attend schools where there are fewer counselors per student. Many also attend schools where there are fewer teachers per student,” Fitzsimmons said.</p>
        <p><strong>Bigger, Faster, Stronger</strong></p>
        <p>Eleven percent of respondents said that they are coming to Harvard as recruited athletes.</p>
        <p>Non-athletes reported an average SAT composite score of 2256, while the average reported SAT score for athletes was 2068. Non-athletes estimated their IQs, on average, to be nearly five points higher than that of athletes.</p>
        <p>Recruited athletes reported a higher family income, on average, than that of the total surveyed class, with only 1.6 percent of recruited athletes reporting that their families make less than $40,000 per year. Eighty-three percent of athletes identified as white or multi-racial.</p>
        <p><strong>Offsetting College Costs</strong></p>
        <p>Fifty-four percent of respondents said that they receive financial aid from the College, marking a slightly lower figure than the nearly <a href="http://news.harvard.edu/gazette/story/2014/03/college-admits-class-of-18/">60 percent</a> of students that the Admissions and Financial Aid office <a href="https://college.harvard.edu/financial-aid/how-aid-works/fact-sheet">reports </a>receive need-based aid.</p>
        <p>Fifty-four percent of respondents who live in urban areas said they receive financial aid, while 52 percent of those who hail from suburban areas and 73 percent from rural areas reported the same.</p>
        <p>Of those receiving financial aid, 29 percent of respondents said they attended private school, while 70 percent attended public school. Six tenths of a percent selected the home-schooled or “other” option. Eleven percent of the people who said that they receive financial aid also said they are recruited athletes, a figure that almost exactly matches the proportion of recruited athletes in the class overall.</p>
        <p>—Staff writer Theodore R. Delwiche can be reached at theodore.delwiche@thecrimson.com. Follow him on twitter <a href="https://twitter.com/trdelwic">@trdelwic</a>.</p>
        <p>—Staff writer Alexander H. Patel can be reached at alex.patel@thecrimson.com. Follow him on twitter <a href="https://twitter.com/alexhpatel">@alexhpatel</a>.</p>
    </div>

{% endblock %}
