{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
	<script src="js/jquery-animate-shadow.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/landing.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block extra_content %}
<div class="landingcontainer">
	<div class="intro landing">
	    <p>Scroll through the interactive graphs and charts on the following pages for a visual representation of the Class of 2018. The data was collected in an email survey conducted by The Crimson during the month of August. More than 70 percent of the class responded. The Crimson did not adjust the data for any possible self-selection bias.</p>
	    <p>The results of last year&rsquo;s survey of the Class of 2017 can be found <a href="http://features.thecrimson.com/2013/frosh-survey/">here</a>.</p>
	</div>

	<div class="landing">
		<div class="section-container">
			<div class="survey-section">
				<div class="subhead">Makeup of the Class</div>
				<div class="card" id="makeup1" data-destination="makeup/"><div class="cover"></div><div class="text"><span>Data</span></div></div>
				<div class="card" id="makeup2" data-destination="http://www.thecrimson.com/article/2013/9/3/freshmen-employment-demographics-geography"><div class="cover"></div><div class="text"><span>Narrative</span></div></div>
			</div>
			<div class="survey-section">
				<div class="subhead">Admissions</div>
				<div class="card" id="admissions1" data-destination="admissions/"><div class="cover"></div><div class="text"><span>Data</span></div></div>
				<div class="card" id="admissions2" data-destination="http://www.thecrimson.com/article/2014/9/3/freshman-survey-2018-admissions/"><div class="cover"></div><div class="text"><span>Narrative</span></div></div>
			</div>
		</div>
		<div class="section-container">
			<div class="survey-section">
				<div class="subhead">Academics</div>
				<div class="card" id="ac1" data-destination="academics/"><div class="cover"></div><div class="text"><span>Data</span></div></div>
				<div class="card" id="ac2" data-destination="academics/"><div class="cover"></div><div class="text"><span>Narrative</span></div></div>
			</div>
			<div class="survey-section">
				<div class="subhead">Lifestyle</div>
				<div class="card card-disabled" id="sex1" data-destination=""><div class="cover"></div><div class="text"><span>Data</span></div></div>
				<div class="card card-disabled" id="sex2" data-destination=""><div class="cover"></div><div class="text"><span>Narrative</span></div></div>
			</div>
		</div>
	</div>
	<div style="clear: both"></div>
</div>
{% endblock %}
