{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classmakeup.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block data_link %}/makeup/{% endblock %}
{% block narrative_link %}/makeup-narrative/{% endblock %}
{% block yale_link %}/makeup-yale/{% endblock %}

{% block nav_items_narrative %}
    <li>Breaking it Down</li>
    <li>From the Northeast, and Beyond</li>
    <li>Forecasting Their Own Future</li>
{% endblock %}

{% block cover_image %}<div class="full-width" style="height: 454px; margin-top: 0px; background-image: url(http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/08/29/231445_1298137.jpg.800x533_q95_crop-smart_upscale.jpg);background-repeat: no-repeat;background-size: cover;"></div>{% endblock %}

{% block content %}
    <div id="narrative" class="intro scroll-row"{#  style="width: 600px; margin: 0 auto; font-family: Georgia; font-size: 15px; line-height: 23px;" #}>
        <p><em>Part I of a five-part series on Harvard’s incoming Class of 2018, based on data collected by The Crimson in an email survey conducted in the month of August. Part II will run on Wednesday.</em></p>
        <p>More than a quarter of surveyed students in the Class of 2018—the most diverse in Harvard College history by some metrics—reported that a member of their immediate or extended family attended the College, according to The Harvard Crimson’s annual survey of the incoming freshman class.</p>
        <p>Sixteen percent of respondents reported that at least one of their parents attended the College, meaning that they are considered Harvard legacies by the College. Members of this group “may receive an additional look” in the admissions process, according to the College’s <a href="https://college.harvard.edu/frequently-asked-questions">website</a>.</p>
        <p>Dean of Admissions and Financial Aid William R. Fitzsimmons ’67 <a href="http://www.thecrimson.com/article/2011/5/11/admissions-fitzsimmons-legacy-legacies/">said in an interview in 2011</a> that approximately 12 to 13 percent of Harvard undergraduates were considered legacies. Yale College reported that 14 percent of its Class of 2017 had legacy affiliation.</p>
        <p>Prior connections to the College were also revealed through sibling relationships, with 8 percent of students indicating that they have siblings who matriculated as Harvard undergraduates.</p>
        <p>Freshmen who reported coming from wealthier backgrounds were more likely to say that they have a relative that attended the College. A majority of freshmen with parents that have a reported combined income greater than $500,000 said they have a relative who attended the College, and 43 percent of respondents with parents that have a combined income greater than $250,000 said the same. Only 18 percent of those with parents that earn a combined income less than $250,000 reported that a relative was at one time a Harvard undergraduate.</p>
        <p>The email survey, conducted by The Harvard Crimson, was emailed to all incoming freshman on Aug. 6 and closed on Aug. 28. Of the 1667 students in the incoming freshman class, 1,172 responded to the survey, representing around 70 percent of the class.</p>
        <p>Beyond questions about their family’s history at the College, this annual survey encompassed a broad range of topics, including demographics, financial and educational backgrounds, academic and extracurricular experiences, political and religious beliefs, sexuality, drug and alcohol use, mental health, and technology preferences. The Crimson did not adjust the survey results for any possible selection bias.</p>
        <p><strong>Breaking it Down</strong></p>
        <p>While the demographics of the incoming freshman class are largely consistent with those of the Class of 2017, female students make up a smaller proportion of this year’s surveyed freshmen compared to <a href="http://www.thecrimson.com/article/2013/9/3/freshmen-employment-demographics-geography/">last year’s</a>.</p>
        <p>According to the data, 47 percent of respondents is female and 53 percent is male, compared to a roughly even split in recent years. Fitzsimmons <a href="http://www.thecrimson.com/article/2014/3/27/regular-admissions-class-2018/">said in March</a> that the College admitted more males than females for the class.</p>
        <p>Little has changed with the ethnic composition of this year’s Harvard Yard occupants. With some students identifying as multiple ethnicities, 62 percent of respondents identified as white, 24 percent identified as Asian, and 11 percent identified as black or African American. Hispanic and Latino students make up a reported 12 percent of the class. Those numbers are consistent with official statistics released by the College.</p>
        <p>Roughly 90 percent of respondents identified as heterosexual, remaining unchanged from last year’s survey. Four percent of students responded that they are homosexual. Bisexual students and students who are “questioning” each accounted for about 3 percent of the class.</p>
        <p>Of those who said they were homosexual, 78 percent identified as male, 17 percent identified as female, and 5 percent identified as “other.” However, females were more likely to identify as bisexual or “questioning.” Of those who identified as bisexual, 63 percent were female, while 30 percent were male. Similarly, 66 percent of those who identified as “questioning” were female and 34 percent were male.</p>
        <p>Position in birth order was also congruent with data from last year’s survey. A plurality of respondents—42 percent—claimed to be the firstborn child in their family, a four percentage point increase from last year’s class. Twenty-nine percent indicated they are the youngest child, while 15 percent indicated they are an only child.</p>
        <p>Recruited athletes accounted for 11 percent of the survey’s respondents, around the same percentage as the Class of 2017, and 9 percent of students surveyed expressed interest in walking on to varsity sports teams.</p>
        <p><strong>From the Northeast, and Beyond</strong></p>
        <p>Students from the Northeast make up a slightly greater portion of this year’s respondents than those who responded to last year’s survey. More than 43 percent of the surveyed freshmen hail from the Northeast, up two percentage points from last year. The proportion of Midwesterners decreased by three percentage points, from 14 percent last year to 11 percent this time around. By comparison, 18 percent of the U.S. population lives in the Northeast and 22 percent lives in the Midwest, according to U.S. Census data.</p>
        <p>The survey indicates that there are significant differences across regions when it comes to financial aid and family history at Harvard.</p>
        <p>Sixty-nine percent of surveyed students who said they are from outside the United States reported that they receive financial aid from Harvard, while only 48 percent of surveyed students from the Northeast said they receive financial aid.</p>
        <p>In addition, disproportionately more respondents from the Northeast reported having relatives that attended Harvard College. Thirty-five percent of Northeasterners said they have a relative who attended the College, compared to just 20 percent of those from the Southeast and 15 percent of those from outside the United States.</p>
        <p>The proportion of surveyed students who live in the suburbs has remained unchanged since last year, with 64 percent reporting that they live in such a community.</p>
        <p>Sixty percent of respondents attended a non-charter or charter public school, roughly the same percentage as the Class of 2017. The vast majority of the remaining 40 percent of students indicated that they had attended a non-denominational or parochial private school.</p>
        <p><strong>Forecasting Their Own Future</strong></p>
        <p>Members of the Class of 2018 are confident in their financial prospects after graduation, the survey shows. Forty-two percent of respondents said they expect to make a starting salary of $70,000 or more after college, compared to 38 percent of those who responded in last year’s survey.</p>
        <p>Like last year, surveyed males expect to make a higher starting salary their female counterparts. A majority of males said they expect to make more than $70,000 out of college, while only 29 percent of females have the same expectations.</p>
        <p>Expectations of starting salaries after college also differed based on reported family income. Forty-eight percent of respondents with parents who reportedly earned more than $250,000 said they expect to make at least $70,000 after college, while only 38 percent of those with parents who reportedly earned less than $250,000 said they expect to make as much.</p>
        <p>Similarly, salary estimates vary among areas of academic interest. Surveyed students who said they plan to concentrate in economics were more likely to expect a high starting salary than their counterparts studying government. Fifty-nine percent of those who reported they may concentrate in economics said they expect their starting salary to be above $70,000, whereas only 33 percent of prospective government concentrators said they expect their salary to be above that sum.</p>
        <p>Prospective computer science and engineering concentrators responding to this year’s survey were more optimistic than those of the Class of 2017 about their post-graduation income. Of that group, those who said they expect their starting salary to be above $70,000 increased by 11 percentage points, to 57 percent this year. This group includes those who reported that they plan to concentrate in biomedical engineering, computer science, electrical engineering, engineering sciences, and mechanical engineering.</p>
        <p>In regard to their intended pursuits immediately after graduation, the percentage of surveyed students who plan to go to graduate or professional school decreased by 4 percentage points, to 47 percent, this year.</p>
        <p>Industry interests also differed slightly from respondents to last year’s survey. While health is still a popular career choice among surveyed freshmen, the percentage of respondents who said they would like to work in the health industry ten years after graduation declined from 23 percent to 21 percent.</p>
        <p>On the other hand, the percentage of respondents who reported that they would like to work in entrepreneurship rose by four percentage points, to 10 percent.</p>
        <p>—Staff writer Steven S. Lee can be reached at steven.lee@thecrimson.com. Follow him on Twitter <a href="https://twitter.com/StevenSJLee">@StevenSJLee</a>.</p>
        <p>—Staff writer Carolina I. Portela-Blanco can be reached at cportelablanco@college.harvard.edu.</p>
    </div>

{% endblock %}
